@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
   font-family: 'Inter', sans-serif;
   background-color: #ffffff;
}

/* TOKENS DEL DESIGN SYSTEM */
@import "./tokens.css";


/* ============================
   🔧 RESETEO GLOBAL
   ============================ */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* ============================
   🌐 ESTILOS BASE DEL PROYECTO
   ============================ */
html,
body {
   font-family: var(--font-inter);
   background-color: var(--color-negroProfundo);
   color: var(--color-blancoPuro);
   scroll-behavior: smooth;
}

/* ============================
   🔗 LINKS
   ============================ */
a {
   text-decoration: none;
   color: inherit;
}

/* ============================
   🖼️ IMÁGENES
   ============================ */
img {
   display: block;
   max-width: 100%;
}

/* ============================
   🔘 BOTONES (RESET)
   ============================ */
button {
   cursor: pointer;
   border: none;
   background: none;
}

/* ============================
   📄 INPUTS (RESET)
   ============================ */
input,
select,
textarea {
   outline: none;
   border: none;
   background: none;
}

/* ============================
   🧩 CONTENEDORES
   ============================ */
.container {
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 1rem;
}